<h1>Filtros</h1>

  <form class="d-flex">
    <select [(ngModel)]="searchkey" name="searchkey">
      <option value="sexo">Genero</option>
      <option value="name">Nombre</option>
      <option value="priape">Primer  Apellido</option>
     
    </select>
    <input [(ngModel)]="searchtext" name="searchtext" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="button" (click)="search()">Search</button>
  </form>
  
    <tbody>
      <tr *ngFor="let item of Profesionalsalud; let i = index">
        <th scope="row">{{item.conpro}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.priape}}</td>
        <td>{{item.segape}}</td>
        <td>{{item.ocupacion}}</td>
        <td>{{item.sexo}}</td>
      </tr>
    </tbody>