<div [@animaciones]="state" class="caja">
    <p>animation works!</p>
    <!--botones para iniciar animacion-->
<button mat-raised-button color="primary" (click)="subir()">subir caja</button>
<button mat-raised-button color="warn" (click)="bajar()">bajar caja</button>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--    
<ul class="wrapper">
    <div class="sun">
      <div class="star"></div>
    </div>
    <div class="mercury">
      <div class="planet">
        <div class="shadow"></div>
      </div>
    </div>
    <div class="venus">
      <div class="planet">
        <div class="shadow"></div>
      </div>
    </div>
    <div class="earth">
      <div class="planet"><div class="shadow"></div></div>
    </div>
    <div class="mars">
      <div class="planet"><div class="shadow"></div></div>
    </div>
    <div class="jupiter">
      <div class="planet"><div class="shadow"></div></div>
    </div>
  </ul>
-->
